<h1>Welcome!</h1>

<%= link_to "Generate a Catalog",generate_path, class:"btn btn-primary" %>

<%= link_to "Upload new items", item_upload_path, class:"btn btn-primary" %>

<%= link_to "Export All Items", export_all_path, class:"btn btn-primary" %>