<h1>Welcome!</h1>

<%= link_to "Home", root_path, class:"btn btn-primary" %>

<%= link_to "All Products", products_path, class:"btn btn-primary" %>

<%= link_to "Export All", export_all_path, class:"btn btn-primary" %>