<h2>Generate Catalog</h2>

<h3>Instructions:</h3>

<p>Please use "Gen Template" in order to upload items that you would like to create a dynamic catalog.</p>

<ol>
	<li>Download the "Gen Template" Here</li>
</ol>

<p>Please upload CSV file that you would like to generate (PUT MARIO"S CSV UPLOAD HERE</p>