<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>UPC</th>
      <th>Brand</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.upc %></td>
        <td><%= product.brand %></td>
        <td><%= image_tag(asset_url(product.img_url), height: 300) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
